# Virtualenv
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Output e file temporanei
fingerprint_matches.csv
vis_*.jpg
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp

*.egg-info/
